
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
    }

    .hero {
        position: relative;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .hero::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/docs/images/pexels-vishal-amin-910307.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        filter: brightness(60%);
     }
     .hero-content {
        position: relative;
        font-family: "Monserrat", sans-serif;
        color: white;
        text-align: center;
        margin: 0.625rem;
     }
     .hero-title {
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 0;
     }
     .hero-subtitle {
        font-size: 2rem;
        font-weight: 200;
        margin-top: 1rem;
     }


    

    
 /*   a.register:link {
        border: none;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 28px;
        padding-right: 28px;
        border-radius:12px;
        background-color: #ae0000;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    
    a.register:hover {
        font-weight: 700;
    }
    
    a.register:visited {
        border: 9px solid #000000;
        background-color: #808080; 
        color: #000000;
    }
    
    a.register:focus {
        border: 8px solid #ffffff;
        outline: 2px solid black;
    }
    
    a.register:active {
        border: 2px solid #000000;
        background-color: #e6e6e6e6;
        color: #000000;
        outline: none;
    }

@media screen and (min-width: 750px){
}